@font-face {
  font-family: "vaizr-md";
  src: url(../../fonts/ttf/Vazirmatn-Medium.ttf) format("ttf");
}
@font-face {
  font-family: "vaizr-th";
  src: url(../../fonts/ttf/Vazirmatn-Light.ttf) format("ttf");
}
@font-face {
  font-family: "vaizr-bold";
  src: url(../../fonts/ttf/Vazirmatn-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "vaizr-rg";
  src: url(../../fonts/ttf/Vazirmatn-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "vaizr-smb";
  src: url(../../fonts/ttf/Vazirmatn-SemiBold.ttf) format("ttf");
}
