@use "./assets/styles/base/shared.scss" as *;
@tailwind base;
@tailwind variants;
@tailwind components;
@tailwind utilities;

body ,html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  // font-family: vazir-rg, sans-serif;
  font-family: Vazir;
  background-color: #fff;
}

.swiper-slide-active{
  opacity: 1;
  height: 100% !important;
}
.swiper-slide-prev{
  opacity: 0;
}