@use "../styles/base/fonts.scss" as *;
@tailwind base;
@tailwind variants;
@tailwind components;
@tailwind utilities;

body ,html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Vazir;
  background-color: #fff;
}
